{% extends 'template.html' %}

{% load static %}

{% block title %}
  Friends
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/friends.css' %}">
{% endblock %}


{% block content %}
  <div class="friends-container">


    <div class="card">

      <div class="balance-share">
        <div class="balance">
          <img src="{% static 'imgs/token_card.png' %}">
          <div class="sum">
            <p>3120.00</p>
            <span >GAP</span>
          </div>
        </div>

        <div class="btn-share">
          <button>Share</button>
        </div>
      </div>

      <div class="number-of-friends">
        <p>**** **** **** <span>0003</span></p>
      </div>

      <div class="family-date-friends">
        <div class="family-date">
          <div class="family">
            <p>Family:</p>
            <span style="color: white; font-size: 16px; margin: 0;" id="username">yaadtiahh</span>
          </div>

          <div class="date">
            <p>Date of joining</p>
            <span style="color: white; font-size: 16px; margin: 0;">01/29</span>
          </div>
        </div>

        <div class="friends">

        </div>
      </div>

    </div>


    <div class="share-join-earn">
      <div class="share">
        <h2>Share</h2>
        <img src="{% static 'imgs/share_icon.svg' %}" style="height: 46px; width: 46px;">
      </div>

      <div class="join">
        <h2>Join</h2>
        <img src="{% static 'imgs/token_card.svg' %}" style="height: 46px; width: 24px;">
      </div>

      <div class="earn">
        <h2>Earn</h2>
        <img src="{% static 'imgs/10_icon.svg' %}" style="height: 46px; width: 60px;">
      </div>
    </div>

    <div class="friends-block">
      <h1>FRIENDS</h1>
      <div class="friends">
        
        <div class="friend-1">
          <div class="friend-username">
            <img src="{% static 'imgs/ava.jpg' %}">
            <p>Friend name</p>
          </div>
          <div class="friends-gaps">
            <p>3946.00</p>
          </div>
        </div>

        <div class="friend-2">
          <div class="friend-username">
            <img src="{% static 'imgs/ava.jpg' %}">
            <p>Friend name</p>
          </div>
          <div class="friends-gaps">
            <p>3946.00</p>
          </div>
        </div>

        <div class="friend-3">
          <div class="friend-username">
            <img src="{% static 'imgs/ava.jpg' %}">
            <p>Friend name</p>
          </div>
          <div class="friends-gaps">
            <p>3946.00</p>
          </div>
        </div>

      </div>
    </div>


  </div>
{% endblock %}