{% extends 'template.html' %}

{% load static %}

{% block title %}
  Invites
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/invite.css' %}">
{% endblock %}


{% block content %}
  <div class="invites-content">
    <div class="invite-img">
      <img src="{% static 'imgs/friends.svg' %}">
    </div>
    <div class="invite-main-text">
      <p>INVITE <span style="color: #A8E1F8;">FRIENDS</span>.<br>EARN COINS</p>
    </div>
    <div class="invite-second-text">
      <h2>HOW IS IT WORK</h2>

      <div class="how-work-invite">
        <div id="custom-line">
          <div class="center-dot"></div>
        </div>
        <div class="instruction">
          <div class="text-block">
            <p>Share link with your <span style="color: #FFE600">friends</span></p>
            <img src="{% static 'imgs/link_icon.svg' %}">
          </div>
          <div class="text-block">
            <p>Your friends are joining <span style="color: #FBB9D7">GAP</span> and start learn</p>
            <img src="{% static 'imgs/edu_icon.svg' %}">
          </div>
          <div class="text-block">
            <p>Get <span style="color: #7EB741">10%</span> from friends</p>
            <img src="{% static 'imgs/friends_icon.svg' %}">
          </div>
        </div>
      </div>
    </div>
    
    <div class="invite-btn">
      <a href="https://t.me/share/url?url=https://example.com&text=Посмотри на это приложение!" target="_blank">
        <button>INVITE</button>
      </a>
    </div>
  </div>
{% endblock %}