{% extends 'template.html' %}

{% load static %}

{% block title %}
  Learn
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/learn.css' %}">
{% endblock %}


{% block content %}
  <div class="learn-container">
    <div class="learning">
      <div class="learning-content">

        <div class="learning-title">
          <h1>Learning</h1>
        </div>
        <img src="{% static 'imgs/arrow_right.svg' %}">
        <p>Learn more about the world of cryptocurrencies and stock markets. These manuals are suitable for both beginners and experienced traders.</p>
      </div>
      <img src="{% static 'imgs/arrow_right.svg' %}">
    </div>
  </div>
  <script src="{% static 'scripts/learn.js' %}"></script>
{% endblock %}
